<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/welcome" method="post">
		<input type="text" name="name"><br>
		<a>Genero:</a><br>
		<input type="radio" name="gender" value="male"> Male<br>
		<input type="radio" name="gender" value="female"> Female<br>
		<input type="submit" name="send">

	</form>
	
</body>
</html>